<h1>Heroes Marvel/DC</h1>
<hr>
<div class=" d-flex row row-cols-1 row-cols-md-3 g-4">



    <div class="card" *ngFor="let hero of heroes">
        <img [src]="hero.img" class="card-img-top img-fluid" alt="hero.name">
        <div class=" card-body ">
            <h5 class="card-title ">{{hero.name}}</h5>
            <p class="card-text ">{{hero.info}}</p>
        </div>

        <div class="card-footer ">
            <small>Created in: {{hero.create}}</small>
        </div>

        <button type="button" class="btn btn-outline-primary">See more ...</button>

    </div>



</div>